[Unit]
Description = RocketbeansTV ePaper Sendeplan by MrJustreborn
After = NetworkManager-wait-online.service network.target network-online.target
Wants = NetworkManager-wait-online.service network-online.target

[Service]
Type = simple
PIDFile = /var/run/rbtv_epaper.pid
ExecStart = WORKING_DIR
Restart = always
Environment = "PYTHONUNBUFFERED=true"

[Install]
WantedBy = multi-user.target
